<!DOCTYPE html>
<html lang="{{ verbatim.lang }}" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Verbatim</title>
    <meta name="description" content="">
    <meta name="author" content="Germain Gaillard">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/575962c641.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <h1>Verbatim</h1>
      <div class="dropdown">
        <img class="lang-icon" src="{{ url_for('static', filename='img/flag_fr.png') }}" alt="">
        <i id="dropdown-button" class="far fa-caret-square-down fa-2x"></i>
        <div class="dropdown-content">
          <p id="restart">Redémarrer</p>
          <p id="english">Anglais</p>
        </div>
      </div>
    </header>
    <div class="dashboard">
      <p>Votre score : <span id="total_score" class="worthy">{{ verbatim.total_score }}</span></p>
      <p>Score de l'I.A : <span id="total_ai_score" class="worthy">{{ verbatim.total_ai_score }}</span></p>
    </div>
    <div class="letter-box">
      {% for letter in verbatim.pouch %}
      <div class="letter active">
        <p class="letter-text">{{ letter }}</p>
        <span class="letter-value">{{ verbatim.points[letter] }}</span>
      </div>
      {% endfor %}
    </div>
    <form action="" method="post" accept-charset="utf-8">
      <div class="input-line">
        <input id="word-input" type="text" name="" value="" readonly>
        <button id="reset-button" type="reset"><i class="fas fa-undo-alt"></i></button>
      </div>
      <p class="text-small">Seuls les mots de 3 lettres ou plus sont acceptés.</p>
      <button id="submit-button" type="submit">Passer</button>
    </form>
    <div class="message-box">
      <div class="bubble bg-you">
        <p>VOUS :</p>
        <p id="word">{{ verbatim.word }}</p>
        <p id="score">{{ verbatim.score }}</p>
      </div>
      <div class="bubble bg-ai">
        <p>L'I.A :</p>
        <p id="ai_word">{{ verbatim.ai_word }}</p>
        <p id="ai_score">{{ verbatim.ai_score }}</p>
      </div>
    </div>
    <p id="warning-msg" class="text-warning">
      {% if verbatim.warning == 'no_solution' %}
      Pas de solution pour ce tirage! les lettres ont été redistribuées.
      {% elif verbatim.warning == 'invalid_word' %}
      Mot invalide! Réessayez.
      {% elif verbatim.warning == 'skipped' %}
      Vous perdez {{ verbatim.ai_score }} points.
      {% endif %}
    </p>
    <footer>
      <p>Créé par <strong>Germain GAILLARD</strong>.</p>
      <a href="mailto:gaillard.germain@gmail.com"><i class="far fa-envelope fa-2x"></i></a>
      <a href="https://gitlab.com/gaillard.germain" target="_blank" rel="noopener noreferrer"><i class="fab fa-gitlab fa-2x"></i></a>
      <a href="https://github.com/screw-pack" target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/gaillard-germain-2301861b4/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in fa-2x"></i></a>
    </footer>
  </body>
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
